<h2>Inscription</h2>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="lastName">Nom de Famille</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName" >
        </div>

        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input formControlName="firstName" type="text" class="form-control" id="firstName" >
        </div>
        
        <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input formControlName="pseudo"  type="text" class="form-control" id="pseudo" >
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email" >
        </div>

        <div class="form-group">
            <label for="password">Mot de Passe</label>
            <input formControlName="password" type="password" class="form-control" id="password" >
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="mature">
            <label for="mature">Majeur</label>
        </div>

            <!--<button type="submit" class="btn btn-primary">Valider</button>-->
        
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Inscription
            </button>
            <a routerLink="/login" class="btn btn-link">Login</a>
        </div>
    </form>
</div>